head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title #{page.title} - Weather App
  meta(name="description", content="A simple Weather App made with Node.js")

  //- link(href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins&display=swap" rel="stylesheet")
  link(rel="stylesheet", href="./css/style.css")