nav.navbar
  .brand
    span #[img(src="./img/wa_logo.svg" alt="Weather App Logo" title="Do a search")]
    h2 Weather App

  ul.menu
    li.item
      a.link(href="/") Home
    li.item
      a.link(href="/about") About
    li.item
      a.link(href="/help") Help
    li.item
      a.link(href="/api") API
    li.item
      a.link.fill(href="/contact") Contact