html(lang="en")
  include includes/head.pug
  include includes/section-title.pug

  body
    .overlay
      include includes/header.pug
      
      .content
        .row
          .col-6
            +title('☔ Why?')

            p.text.
              The #[i Weather App] is an application that was made to apply the concepts
              of Node.js learning, such as queries on APIs and #[i Server Side Rendering] (SSR).
            p.text.
              This application consists of only two simple approaches: (i) the user
              searches for the desired location and sends the information to the server;
              and (ii) the server analyzes and processes the request and returns the
              weather data, if found.
  
    include includes/footer.pug