html(lang="en")
  include includes/head.pug
  include includes/section-title.pug

  body
    .overlay
      include includes/header.pug
      
      .content
        +title('⛈ Missed something?')

    include includes/footer.pug